NEXT_PUBLIC_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmZDlhNWM5MjI5MDkxNGYxMGI3MmJiMGEzYmQ5MTc1ZiIsIm5iZiI6MTcyNjE3OTk5OC4zNzQxNTYsInN1YiI6IjY2ZDNhNTU1NmUzNzA0OGM3NGIwODgyOCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.pLoUVzUtwCU2BBa_fzsg4i8w6NisInqgBNoiPjZVdb0